// Copyright (C) 2026, Advanced Micro Devices, Inc.
// SPDX-License-Identifier: BSD-3-Clause
#include <ap_int.h>
#include <hls_stream.h>
#include <hls_vector.h>
#include "memstream.hpp"

using element_t = {{ CPP_TYPE }};
void memstream_hls(element_t const (&mem)[{{ DEPTH }}], hls::stream<element_t>& dst) {
#pragma HLS interface s_axilite port=mem bundle=control
#pragma HLS interface s_axilite port=return bundle=control
#pragma HLS interface axis port=dst
#pragma HLS dataflow disable_start_propagation
    memstream(mem, dst);
}
