set config_proj_name {{ PROJECTNAME }}
puts "HLS project: $config_proj_name"
set config_hwsrcdir "{{ HWSRCDIR }}"
puts "HW source dir: $config_hwsrcdir"
set config_proj_part "{{ FPGAPART }}"
set config_bnnlibdir "$::env(FINN_DEPS_DIR)/finn-hlslib"
puts "finn-hlslib dir: $config_bnnlibdir"
set config_customhlsdir "$::env(FINN_ROOT)/custom_hls"
puts "custom HLS dir: $config_customhlsdir"
set config_toplevelfxn "{{ TOPFXN }}"
set config_clkperiod {{ CLKPERIOD }}

open_project $config_proj_name
add_files $config_hwsrcdir/top_{{ TOPFXN }}.cpp -cflags "-std=c++14 -I$config_bnnlibdir -I$config_customhlsdir"

set_top $config_toplevelfxn
open_solution sol1
set_part $config_proj_part

{{ DEFAULT_DIRECTIVES }}
{{ EXTRA_DIRECTIVES }}

create_clock -period $config_clkperiod -name default
csynth_design
export_design -format ip_catalog
exit 0