brevitas@git+https://github.com/Xilinx/brevitas@master#egg=brevitas_examples
dataclasses-json==0.5.7
docutils==0.19
gspread==3.6.0
importlib_resources
IPython
matplotlib
netron
pytest
qonnx@git+https://github.com/tafk7/qonnx@46b69021e3a38b57c636f6941a52d809c8928a7b#egg=qonnx
sphinx_rtd_theme==2.0.0
torch
torchvision
tqdm
vcdvcd
